*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;

}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10% 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background-color: black;
    transform: scale(1.1)
}
.price input{
    width: 20%;

}
#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #4b043c;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: #6f06a0;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0;
}
table {
    font-size: sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 10px 0;

}
table th{
    text-transform: uppercase;
    background-color: #222;
    color: #fff;

}
th,td{
    padding: 5px;
    color: #fff;
}
@media screen and (max-width:700px) {

    thead{
        display: none;
    }
    td{
        display: block;

    }
    td:nth-child(1)::before{
        content: "ID:";
    }
    td:nth-child(2)::before{
        content: "TITLE:";
    }
    td:nth-child(3)::before{
        content: "PRICE:";
    }
    td:nth-child(4)::before{
        content: "TAXES:";
    }
    td:nth-child(5)::before{
        content: "ADS:";
    }
    td:nth-child(6)::before{
        content: "DISCOUNT:";
    }
    td:nth-child(7)::before{
        content: "TOTAL:";
    }
    td:nth-child(8)::before{
        content: "CATEGORY:";
    }
    td{
        text-align: right;
    }
    td::before{
        float: left;
        margin-right: 3rem;
        font-weight: bold;
    }
    
}